{% load static %}
<div class="items-category">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3"><a
                        class="product-item d-flex flex-column align-items-center justify-content-center"
                        href="{% url 'shop' %}"
                        style="background-image: url(assets/images/homepage01/item_category_1.png)">
                    <div class="categories-img"><img src="{% static 'assets/images/homepage01/item_img_1.png' %}" alt=""></div>
                    <h2>Mers</h2>
                    <p>1886-yil</p></a></div>
                <div class="col-12 col-sm-6 col-md-3"><a
                        class="product-item d-flex flex-column align-items-center justify-content-center"
                        href="{% url 'shop' %}"
                        style="background-image: url(assets/images/homepage01/item_category_1.png)">
                    <div class="categories-img"><img src="{% static 'assets/images/homepage01/logobmv.png' %}" alt=""></div>
                    <h2>Bmw</h2>
                    <p>1917-yil</p></a></div>
                <div class="col-12 col-sm-6 col-md-3"><a
                        class="product-item d-flex flex-column align-items-center justify-content-center"
                        href="{% url 'shop' %}"
                        style="background-image: url(assets/images/homepage01/item_category_1.png)">
                    <div class="categories-img"><img src="{% static 'assets/images/homepage01/logoaudi.jpg' %}" alt=""></div>
                    <h2>Audi</h2>
                    <p>1932-yil</p></a></div>
                <div class="col-12 col-sm-6 col-md-3"><a
                        class="product-item d-flex flex-column align-items-center justify-content-center"
                        href="{% url 'shop' %}"
                        style="background-image: url(assets/images/homepage01/item_category_1.png)">
                    <div class="categories-img"><img src="{% static 'assets/images/homepage01/logohonda.png' %}" alt=""></div>
                    <h2>Honda</h2>
                    <p>1886-yil</p></a></div>

            </div>
        </div>
    </div>